 @model OrganizationWebsite.Models.AppUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            ViewData["Title"] = "My Courses";
        }
    </title>
    <style>
        body {
            display: flex;
        }

        .sidebar {
            width: 250px;
            flex-shrink: 0;
            color: black;
            padding-top: 20px;
        }

            .sidebar a {
                color: black;
                padding: 15px;
                text-decoration: none;
                display: block;
            }

                .sidebar a:hover {
                    background-color: #A0AECD;
                    color: white;
                }

        header, footer {
            display: none;
        }

        #sidebarToggle {
            background-color: #A0AECD;
            color: white;
            height: 40px;
        }

        #srch{
            border:none;
            border-radius:25px;
            max-width:50%;
            height:50px;
        }

        #btn {
            border: none;
            border-radius: 25px;
            width:50px;
        }



    </style>
</head>
<body>
    <div class="container mt-5 ">
        <h4 class="text-center">
            My Courses <i class="bi bi-book"></i>
        </h4>
    </div>

    <div class="container d-flex ">
        <button  class="btn  d-md-none" id="sidebarToggle"><i class="bi bi-list"></i></button>

        <div style="border-radius:10px; display: flex; flex-direction: column; height: 75vh;" class="sidebar card-header mt-5 d-none d-md-flex" id="sidebar">
            <h3 class="text-center"><i class="bi bi-list"></i> Menu</h3>
            <a class="mt-5" asp-action="Index" asp-controller="DashBoard"><i class="bi bi-house-door"></i> Home</a>
            <a asp-action="Profile" asp-controller="DashBoard"> <i class="bi bi-person"></i> Profile</a>
            <a asp-action="Notifications" asp-controller="DashBoard"><i class="bi bi-bell"></i> Notifications</a>
            <a asp-action="MyCourses" asp-controller="DashBoard"><i class="bi bi-book"></i> My Courses</a>
            <a asp-action="ChangePassword" asp-controller="DashBoard"><i class="bi bi-gear"></i> Change Password</a>
            <a asp-action="Logout" asp-controller="Account" class="mt-auto mb-1 "><i class="bi bi-box-arrow-right"></i> Logout</a>
        </div>

        <div style="border-radius:10px;" class="container card-header align-items-center mt-5 ms-5">
            <form method="get" asp-action="SearchResult" asp-controller="DashBoard" class="d-flex justify-content-center mt-4">
                <input id="srch" autocomplete="off" class="form-control custom-rounded" type="text" name="SearchString" placeholder="Search for courses" value="@ViewBag.SearchString" required>&nbsp;&nbsp;
                <button id="btn" type="submit" class="btn btn-primary custom-rounded"><i class="bi bi-search"></i></button>
            </form>
            <hr />
            <div class="container mt-5">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
                        @TempData["Message"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (Model != null && !string.IsNullOrEmpty(Model.Picked_Courses))
                {
                    <p>You have picked the following course:</p>
                    <table id="table" class="table table-success mt-5">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Course Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>@Model.Id</th>
                                <th>@Model.Picked_Courses</th>
                                <th class="@(Model.Status == "Pending" ? "text-danger" : "text-success")">
                                    @Model.Status
                                </th>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No courses joined yet.</p>
                }
            </div>
        </div>

    </div>
    <script src="~/js/toggle.js"></script>
</body>
</html>
